@model List<CartLine>
@{
    ViewBag.Title = "BookStore: your cart";
}

<h2>Your cart</h2>

    <table  class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th class="text-left">Genre</th>
                <th class="text-left">Year</th>
                <th class="text-left">Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model)
            {
            <tr>
                <td>@line.Book.Name</td>
                <td>@line.Book.Author</td>
                <td class="text-left">@line.Book.Genre</td>
                <td class="text-left">@line.Book.Year</td>
                <td class="text-left">@line.Quantity</td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>

            </tr>
            <tr>
                <td colspan="3" class="text-right">  <a href="~/Cart/BuyAll/">Buy all</a></td>
            </tr>
        </tfoot>
    </table>

    <div class="text-center">
        <a href="~/Books/Index/">Continue</a>
    </div>
