@model List<CartLine>
@{
    ViewBag.Title = "BookStore: your cart";
}

<h2>Your cart</h2>

    <table  class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th >Genre</th>
                <th >Year</th>
                <th >Quantity</th>
                <th >Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model)
            {
            <tr>
                <td>@line.Book.Name</td>
                <td>@line.Book.Author</td>
                <td>@line.Book.Genre</td>
                <td>@line.Book.Year</td>
                <td>@line.Quantity</td>
                <td>@(line.Book.Price * line.Quantity)</td>
                <td>
                    <a class="btn btn-success" href="~/Cart/RemoveFromCart//@line.Book.Id">RemoveLine</a>
                </td>

            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total: @Cart.TotalPrice</td>

            </tr>
            <tr>
                <td colspan="3" class="text-right">  <a class="btn btn-success" href="~/Cart/BuyAll/">Buy all</a></td>
            </tr>
        </tfoot>
    </table>

    <div class="text-center">
        <a class="btn btn-success" href="~/Books/Index/">Continue</a>
    </div>
